---
title: Pianiste virtuose
layout: default
description: Alan Gampel, pianiste virtuose
permalink: /pianiste
---

<main class="container">
  <h1>{{ page.title }}</h1>

  <ul class="list-inline text-center">
    <li class="list-inline-item"><a href="#biographie" class="text-muted">Biographie</a></li>
    <li class="list-inline-item"><a href="#archives" class="text-muted">Archives</a></li>
    <li class="list-inline-item"><a href="#enregistrements" class="text-muted">Enregistrements</a></li>
    <li class="list-inline-item"><a href="#performances" class="text-muted">Performances</a></li>
    <li class="list-inline-item"><a href="#articles" class="text-muted">Articles de presse</a></li>
  </ul>

  <h2 id="biographie" class="text-center">Biographie</h2>

  <div class="row">
    <div class="offset-md-1 col-md-4 mt-5">
      <img src="/assets/images/bioimage.jpg" alt="Alan Gampel" class="img-fluid">
    </div>
    <div class="offset-md-1 col-md-5 mt-5">
      <p>
        Issu d'une famille d'artistes qui compte la légendaire claveciniste Wanda Landowska, Alan Gampel est destiné à une carrière musicale.
        7 ans, il joue des variations de Beethoven sur la scène de l'Hollywood Bowl,
        16 ans, il reçoit le Presidential Award à la Maison-Blanche,
        19 ans, il est diplõmé de musique et d'histoire de l'Université de Stanford.
        1991, il est lauréat à l'unanimité du Prix Mozart au Concours de Dublin.
        1992, il reçoit un Grand Prix du Concours International de Naumburg.
        1995, il remporte le Prix Chopin au Concours International Artur Rubinstein.
      </p>
      <p>
        Auditionné par les plus grands musiciens : Georg Solti, Yehudi Menuhin, Daniel Barenboim, entre autres, sa carrière est alors propulsée au niveau international.
      </p>
      <p>
        Depuis, il a été accueilli par des orchestres renommés tels que l'Orchestre de Paris, l'Orchestre National de Lille, l'Ensemble Orchestral de Paris, le Chicago Symphony Orchestra, l'American Symphony Orchestra, l'Irish National Symphony, le Czech Chamber Orchestra, le Royal Philharmonic Orchestra.
      </p>
      <p>
        Ses récitals aux états-Unis au Kennedy Center, au Lincoln Center, au Ravinia Festival et au Mostly Mozart Festival, à Paris au Théãtre du Chãtelet, au Théãtre des Champs-élysées, à l'Auditorium du Louvre, à Rome au Théãtre Ghione et à Londres au Wigmore Hall, confirment sa carrière internationale.
      </p>
      <p>
        En France, Alan Gampel est invité régulièrement à des festivals dont ceux de Auvers-sur-Oise, Auxerre, Besançon, Colmar, Dinard, Sully-sur-Loire...
        Il a participé à plusieurs émissions télévisées: Musiques au Coeur , Bouillon de Culture et aussi, régulièrement, à des émissions de radio sur France Culture, France Musique, Radio Classique...
      </p>
      <p>
        Inspiré par la naissance de son premier enfant, Gampel a cherché à faire connaĩtre l'art et la musique aux jeunes. En 2000, il a créé la Joy2Learn Foundation, qui produit des présentations multi-media de grands artistes tels que Wynton Marsalis et Richard Serra, pour une diffusion via internet dans les écoles. Par ailleurs, depuis 10 ans, Alan Gampel a donné plus de 300 récitals informels particulièrement destinés aux scolaires.
      </p>
      <p>
        La discographie d'Alan Gampel comprend une série de sonates de Beethoven, un choix d'oeuvres de Chopin dont les variations "La ci darem la mano", les sonates monumentales en si mineur de Liszt et de Chopin, et des oeuvres majeures de Moussorgski, Stravinski et Prokofiev.
      </p>
    </div>
    <div class="offset-md-1 col-md-5 mt-5">
      <p>
        Born into an artistic family that includes the legendary harpsichordist Wanda Landowska, Alan Gampel made his debut playing Beethoven variations at age 7 at the Hollywood Bowl. He was honored with The Special Award in the Arts from UNICEF at age 8 and with the Presidential Scholars Award, presented by President Ronald Reagan at the White House, at age 16. He went on to graduate from Stanford University at age 19 and then completed a graduate degree at the University of Southern California and at the Ecole Normale de Musique in Paris.
      </p>
      <p>
        In 1995, Alan Gampel received the coveted Chopin Prize at the Artur Rubinstein International Piano Competition in Israel. Other awards include a top prize at the Naumburg International Piano Competition in New York and the Mozart Bicentenary Prize at the Dublin International Piano Competition in Ireland.
      </p>
      <p>
        Auditions for eminent musicians including Sir Georg Solti, Sir Yehudi Menuhin and Daniel Barenboim led to engagements with the Chicago Symphony Orchestra, American Symphony Orchestra, Royal Philharmonic Orchestra, Orchestre de Paris, Ensemble Orchestrale de Paris, Irish National Symphony... Alan Gampel has appeared in recital at the Lincoln and Kennedy Centers, at Chicago's Ravinia Festival, in New York's Frick Collection Series and Mostly Mozart Festival, in London at Wigmore Hall, in Paris at the Theatre des Champs-Elysees and Auditorium du Louvre, in Rome at the Teatro Ghione...
      </p>
      <p>
        The birth of Alan's first child inspired him to search for innovative ways to introduce music and the arts to young people. In 2000, he created the Joy2Learn Foundation, bringing great artists such as Gregory Hines, Wynton Marsalis and Richard Serra into classrooms across America over the Internet. Also, Alan Gampel has performed over 300 informal school recitals over the past ten years, for children in France and the USA.
      </p>
      <p>
        Alan Gampel's recordings include a collection of Beethoven Sonatas, a compilation of works by Chopin including the "La cidarem la mano" variations, the monumental B minor sonatas by Liszt and Chopin, and a "russian" recording featuring Mussorgsky Pictures, Prokofiev's 7th sonata and Stravinsky's Firebird.
      </p>
    </div>
    <div class="col-md-6"></div>
    <div class="offset-md-6 col-md-5 mt-5">
      <p>
        Nacido en el seno de una familia artística que incluye a la legendaria clavicordista Wanda Landowska, Alan Gampel hizo su debut con un recital de piano a la edad de siete años tocando las variaciones de Beethoven en el Hollywood Bowl. Un año después recibe el Reconocimiento Especial de las Artes de la UNUCEF, y a los dieciséis es recibido por el Presidente Ronald Reagan obteniendo el Reconocimiento Académico Presidencial de la Casa Blanca. A los diecinuev años se licencio por la Universidad de Stanford y terminó sus estudios de máster en la University of Southern California y en la escuela normal de Música de Paris.
      </p>
      <p>
        In 1995, Alan Gampel recibió el reconocido Premio Chopin en el concurso Internacional de Piano Artur Rubinstein de Israel. Así mismo ha recibido la más alta mención en los concursos Internacionales de Piano de Naumburg en Nueva York y el Bicentenario de Mozart en Dublín.
      </p>
      <p>
        En su carrera se incluyen audiciones para eminentes músicos como Georg Solti, Sir Yehudi Menuhin y Daniel Barenboim que han supuesto recitales en Europa y en Estados Unidos incluyendo compromisos con la Orquestra Sinfónica de Chicago, la Orquesta Sinfónica Americana, la Orquesta Filarmónica Real, la Orquesta de Paris, la Sinfónica Nacional Irlandesa. Alan Gampel ha actuado asi mismo en los Centros Lincoln y Kennedy, en el Festival Ravina de Chicago, en la Sede de la Colección de Frick de Nueva York y el Festival Mostly Mozart, en el Salón Wigmore de Londres, en el Teatro de los Campos elíseos y en el Auditorio del Museo Louvre en Paris, en el Teatro Ghione de Roma, y en Estanbul...
      </p>
      <p>
        El nacimiento del primer hijo de Alan le inspiro para buscar nuevas formas de introducir la música y el arte a los más jóvenes. En el 2000, creó la Joy2Learn Foundation, acercando a grandes artistas como Gregory Hines, Wynton Marsalis y Richard Serra a las aulas de Estados Unidos a través de internet. También realizo más de 300 conciertos informales para alumnos de Francia y USA en los últimos diez años.
      </p>
      <p>
        Las grabaciones de Alan Gampel incluyen una colección de Sonatas de Beethoven, una compilación de los trabajos de Chopin que contienen las variaciones "La cidarem la mano" así como las monumentales sonatas de Liszt y Chopin en Re menor y un CD "ruso" que destaca las Pinturas de Mussorgsky, la séptima sonata de Prokofiev y El Pájaro de Fuego de Stravinsky.
      </p>
    </div>
    <div class="offset-md-1 col-md-5 mt-5">
      <p>
        Alan Gampel stammt aus einer Künstlerfamilie, zu der unter anderem die legendäre Cembalospielerin Wanda Landowska gehört. Seine Musikkarriere begann mit sieben Jahren, als er die Beethoven Variationen auf der Bühne des Hollywood Bowls spielte.
      </p>
      <p>
        Mit acht Jahren wurde er mit dem Künstlerpreis "Special Award in the Arts" von UNICEF ausgezeichnet.
        Mit sechzehn Jahren verlieh ihm Präsident Ronald Reagan im Weißen Haus den "Presidential Scholers Award".
        Alan Gampel war neunzehn Jahre alt, als er an der Universität von Stanford sein Diplom in Geschichte und Musik abschloss. Weitere Abschlüsse folgten an der Universität von "Southern California" und an der "Ecole Normale de Musique" in Paris.
      </p>
      <p>
        1991 wurde Alan Gampel mit dem Mozartpreis beim Internationalen Klavierwettbewerb in Dublin und ein Jahr später mit dem höchsten Preis beim Internationalen Naumburg Klavierwettbewerb in New York ausgezeichnet. 1995 erhielt er den begehrten Chopin Preis beim Internationalen Artur Rubinstein Klavierwettbewerb in Israel.
        Vorspiele bei hochangesehenen Musikern wie Georg Solti, Yehudi Menuhin und Daniel Barenboim führten zu Engagements u.a. mit dem Chicago Symphony Orchestra, dem American Symphony Orchestra, dem Royal Philharmonic Orchestra, dem Orchester von Paris, dem Ensemble Orchestrale de Paris und der Irish National Symphony.
        Alan Gampel gab Konzerte im Lincoln Center (New York) und Kennedy Center (Washington), trat beim Chicago's Ravinia Festival, in New York's Frick Collection Series und beim Mostly Mozart Festival (New York) auf, spielte in London in der Wigmore Hall, in Paris am Theater der Champs-Elysees sowie im Auditorium des Louvre und in Rom am Teatro Gione.
        Sein Deutschlanddebüt gab er 1989 im Sprengel Museum von Hannover im Rahmen der Chopin-Gesellschaft Hannover, bei dem er damals schon mit seinem Vorspiel voller rhythmischer überraschungen und bunter Tonfarben das Publikum begeisterte. Die Hannoversche Allgemeine urteilte seinen ersten Auftritt in Deutschland als vielversprechend und lobte sein Spiel, das sich durch eine breite Palette an Klangfarben und prägnantes Herausarbeiten melodischer Linien auszeichnete und zudem von einem weitgefächerten Repertoire von Barock bis zur Moderne zeugte.
      </p>
      <p>
        Die Geburt seines ersten Kindes inspirierte Alan Gampel, neue Wege zu finden, um jungen Leuten Kunst und Musik näherzubringen. So gründete er 2000 die Stiftung "Joy2Learn Foundation", die Aufführungen und Vorträge berühmter Künstler wie Gregory Hines, Wynton Marsalis und Richard Serra produziert, um sie anschließend per Internet in den Schulen ganz Amerikas zu übertragen. Darüber hinaus gab er während der letzten zehn Jahre über 300 inoffizielle Schulkonzerte, die Kindern aus Frankreich und den U.S.A. zugute kamen.
      </p>
      <p>
        Alan Gampels Plattenaufnahmen und Aufzeichnungen enthalten eine Sammlung von Beethoven Sonaten, eine Abfassung der Werke Chopins einschließlich der Variationen "La cidarem la mano", die monumentalen B-Moll Sonaten von Chopin und Liszt, eine russische Adaptation von Mussorgskys Klavierzyklus "Bilder einer Ausstellung", Prokofievs "Sonate Nr.7" sowie Stravinskys "Feuervogel".
      </p>
    </div>
    <div class="col-md-6"></div>
    <div class="offset-md-6 col-md-5 mt-5">
      <img src="/assets/images/chinese-biography.png" alt="Alan Gampel, chinese biography" class="img-fluid">
    </div>
  </div>

  <h2 id="archives" class="text-center mt-5">Archives</h2>

  <div class="row">
    {% for new in site.data.news %}
    <div class="col-md-4 mt-5">
      <img src="/assets/images/{{ new.image }}" class="img-fluid" alt="">
      <p class="mt-3">{{ new.text }}</p>
    </div>
    {% endfor %}
  </div>

  <h2 id="enregistrements" class="text-center">Enregistrements</h2>

  <div class="row">
    {% for media in site.data.videos %}
    <div class="col-md-6 mt-5">
      {% if media.youtube %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ media.youtube }}" allowfullscreen title=""></iframe>
        </div>
      {% else %}
        <img src="/assets/images/medias/{{ media.mp3 | replace: 'mp3', 'jpg' }}" alt="{{ media.title }}" class="img-fluid">
      {% endif %}
      {% if media.image %}
      {% endif %}
      {% if media.mp3 %}
        <audio controls src="/assets/mp3/{{ media.mp3 }}" class="audio-responsive mt-3"></audio>
      {% endif %}
      <h2 class="h4 mt-3">
        {{ media.title }}<br>
      </h2>
      <p>{{ media.composer }}</p>
    </div>
    {% endfor %}
  </div>

  <h2 id="performances" class="text-center">Performances</h2>

  <div class="row">
    <div class="col-md-6 mt-5">
      <h3>France</h3>
      <ul class="list-unstyled">
        <li>Festival d'Auvers sur Oise - Auvers sur Oise</li>
        <li>Festival de Besancon - Besancon - Orchestre de Lille</li>
        <li>Salle Duc de Berry - Bourges</li>
        <li>Festival de Musique de Dinard - Dinard</li>
        <li>Festival de Colmar - Colmar</li>
        <li>Guebwiller</li>
        <li>Temple Neuf - Metz</li>
        <li>l'Arsenal - Metz</li>
        <li>l'Arsenal - Metz - Orchestre de Lorraine</li>
        <li>France Musique, Radio France - Paris</li>
        <li>Salle Gaveau - Paris</li>
        <li>Salle Pleyel - Paris - Orchestre de Paris</li>
        <li>Theatre des Champs Elysees - Paris</li>
        <li>Theatre des Champs Elysees - Paris - Ensemble Orchestral de Paris</li>
        <li>Salle Pleyel - Paris - Ensemble Orchestral de Paris</li>
        <li>Theatre du Chatelet - Paris</li>
        <li>Musee d'Orsay - Paris</li>
        <li>Auditorium du Louvre - Paris</li>
        <li>Salle Gaveau - Paris</li>
        <li>Notre Dame de Grace - Paris</li>
        <li>Salle Pleyel - Paris - Orchestre Pasdeloup</li>
        <li>Festival de Sully sur Loire - Sully sur Loire - Orchestre de Lille</li>
        <li>Festival de Sully sur Loire - Sully sur Loire</li>
        <li>Salle du Triangle - Rennes</li>
        <li>Salle Municipale - Pace</li>
        <li>Cite des Congres - Nantes</li>
        <li>Chateau de Chantilly - Compiegne</li>
        <li>Chateau De Maisons Laffitte - Versailles</li>
        <li>Casino - Deauville</li>
        <li>Theatre de la Ville - Reims</li>
        <li>Palais du Tau - Reims</li>
        <li>Salle Jacques Tati - St. Germain</li>
        <li>Festival Piano a Auxerre - Auxerre</li>
        <li>Musee d'Art Americain - Giverny</li>
        <li>Chateau de Ferrieres - Marne la Vallee</li>
        <li>Theatre de la Ville - Epinal</li>
        <li>Chateau Francois 1ere - Cognac</li>
        <li>l'Oratoire - La Rochelle</li>
        <li>Munsterhof - Strasbourg</li>
        <li>Palais des Congres - Angers</li>
        <li>Estive Scene National - Foix</li>
        <li>Theatre de la Ville - Brive</li>
        <li>Hotel de Ville - Nancy</li>
        <li>Salle des Fetes - Boissy St.-Leger</li>
        <li>Auditorium de Pornic - Pornic</li>
        <li>Festival de Thiais - Paris - Orchestre National Ile de France</li>
        <li>Theatre de la Ville - Granville</li>
        <li>Theatre de la Ville - Yerres </li>
        <li>Theatre de la Ville - Ormesson</li>
        <li>Theatre de la Ville - St. Lo</li>
        <li>Espace Bargemon - Marseilles</li>
      </ul>
    </div>
    <div class="col-md-6 mt-5">
      <h3>United States</h3>
      <ul class="list-unstyled">
        <li>Mobile Chamber Music Society - Mobile, Alabama</li>
        <li>Scottsdale Center for the Arts - Scottsdale, AZ</li>
        <li>Yuma Cultural Center - Yuma, Arizona</li>
        <li>St. Philip's in the Hills Parish - Tucson, Arizona</li>
        <li>Hollywood Bowl - Los Angeles, California</li>
        <li>Clark Library - Los Angeles, California</li>
        <li>Wilshire-Ebell Theater - Los Angeles, California - L.A. Mozart Orchestra</li>
        <li>Pepperdine Univ. - Los Angeles, California</li>
        <li>Long Beach Performing Arts Center - Long Beach, California - Long Beach Symphony</li>
        <li>Desert Museum - Palm Springs, California</li>
        <li>Torrance Cultural Arts Center - Torrance, California - Torrance Symphony</li>
        <li>Redlands Bowl - Redlands, California - Redlands Symphony</li>
        <li>Chopin Foundation - Miami, Florida</li>
        <li>Georgia Southwestern Univ. - Americus, Georgia</li>
        <li>Orchestra Hall - Chicago, Illinois - Chicago Symphony</li>
        <li>Ravinia Music Festival - Chicago, Illinois</li>
        <li>Southeastern Louisiana Univ. - Hammond, Louisiania</li>
        <li>St. Cecilia Music Society, Royce Aud. - Grand Rapids, Michigan</li>
        <li>Devos Hall - Grand Rapids, Michigan - Grand Rapids Symphony</li>
        <li>Chamber Music Society of St. Cloud - Saint Cloud, Minnesota</li>
        <li>Univ. of Las Vegas - Las Vegas, Nevada</li>
        <li>Bard College - Annandale, New York</li>
        <li>WNYC Live in NY - New York, New York</li>
        <li>Mostly Mozart Festival, Lincoln Center - New York, New York</li>
        <li>Lincoln Center - New York, New York - American Symphony</li>
        <li>Frick Collection - New York, New York</li>
        <li>Metropolitan Museum - New York, New York</li>
        <li>Kosciusko Foundation - New York, New York</li>
        <li>Asheville, NC - Asheville Symphony</li>
        <li>Mayville Sate Univ. - Grand Forks, North Dakota</li>
        <li>ND Museum of Art - Grand Forks, North Dakota</li>
        <li>Univ. of Vermont Lane Series - Colchester, Vermont</li>
        <li>Chandler Series - Randolph, Vermont</li>
        <li>La Maison Francaise - French Embassy, Washington DC</li>
        <li>Charleston - 6 city tour - West Virginia - West Virginia Symphony</li>
      </ul>
    </div>
  </div>

  <h2 id="articles" class="text-center">Articles de presse</h2>

  <div class="row">
    {% for release in site.data.press %}
      <div class="col-md-3 mt-5">
        <a href="/assets/pdfs/{{ release.file }}" target="_blank">
          <img src="/assets/pdfs/thumb/{{ release.thumb }}" class="img-fluid p-4" />
        </a>
      </div>
    {% endfor %}
  </div>
</main>
