---
title: Projets artistiques & pédagogiques
description: Projets d'Alan Gampel
layout: default
permalink: /projets
---
<main class="container">
  <h1>{{ page.title }}</h1>

  {% for project in site.data.projects %}
    <div class="row mt-5">
      <div class="col-md-5 mt-2">
        <img src="/assets/images/projects/{{ project.image }}" alt="{{ project.title }}" class="img-fluid">
      </div>
      <div class="offset-md-1 col-md-5 mt-2">
        <h2>{{ project.title }}</h2>
        <p>{{ project.text }}</p>
        {% if project.url %}
          <p><a href="{{ project.url }}" class="btn btn-sm btn-primary" target="_blank" rel="noreferrer">Visiter le site</a></p>
        {% endif %}
      </div>
    </div>
    <hr class="mt-5">
  {% endfor %}
</main>
