---
title: Videos
layout: default
permalink: /videos
---

<h1>Videos</h1>

<div class="row">
  {% for media in site.data.medias %}
  <div class="col-md-6 mt-5">
    {% if media.mp3 %}
      <audio controls src="/assets/mp3/{{media.mp3}}" class="audio-responsive"></audio>
    {% endif %}
    {% if media.youtube %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ media.youtube }}" allowfullscreen title=""></iframe>
      </div>
    {% endif %}
    <h2 class="h4 mt-3">
      {{ media.title }}<br>
    </h2>
    <p>{{ media.composer }}</p>
  </div>
  {% endfor %}
</div>
