*
  font-variant-ligatures: discretionary-ligatures

.logo
  font-weight: 300
  font-size: 40px
  text-transform: uppercase
  letter-spacing: 5px
  margin: 0

nav
  .active
    border-bottom: 2px solid #000000
  @include media-breakpoint-down(md)
    .logo
      font-size: 26px
h1
  text-align: center
  margin: 30px 0 15px

.audio-responsive
  width: 100%

footer
  background: #000000
  color: #FFFFFF
  padding: 30px 0
  .logo
    color: #FFFFFF
    font-size: 20px
