<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="{{page.description}}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container">
      <nav class="text-center">
        <a class="navbar-brand" href="/">Alan Gampel</a><br>
        <ul class="nav d-flex justify-content-center">
          {% for nav in site.data.navigation %}
            <li class="nav-item"><a href="{{ nav.permalink }}" class="nav-link {% if nav.permalink == page.url %} active{% endif %}">{{ nav.text }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <main>
        {{ content }}
      </main>
      <footer>
      </footer>
    </div>
  </body>
</html>
